services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://host.docker.internal:3000
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - .:/app
      - /app/node_modules
    restart: unless-stopped
